@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Regular.woff') format('woff');
}

@font-face {
    font-family: 'TT Lakes DemiBold';
    src: url('../assets/fonts/TTLakes-DemiBold.woff') format('woff');
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../assets/fonts/TTLakes-Bold.woff') format('woff');
}