@media (max-width: 1439px) {
    .body__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        display: none;
        z-index: 10;
    
        .body__menu_blur {
            background-color: rgba(255, 255, 255, 0.8);
            width: calc(100% - 320px);
            top: 0;
            right: 0;
        }
    
        .body__menu_full_screen {
            width: 320px;
            background-color: white;
        }
    }
}

@media (min-width: 1440px) {
    .body__menu {
        position: fixed;
        top: 0;
        left: calc(50% - 720px);
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
    
        .body__menu_blur {
            display: none;
        }
    
        .body__menu_full_screen {
            width: 320px;
            background-color: white;
        }
    }

    .body__menu_list {
        margin-top: 5vh;
        margin-bottom: 15vh !important;
    
        div {
            padding: 15px 10px 15px 20px !important;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all 0.3s;
    
            &:hover {
                border-left: 4px solid $blue;
                color: $darkgrey;
            }
        }
    }

    .body__menu_button_list {
        margin-bottom: 5vh !important;
    }

    .body__menu_logo {
        position: relative;
        right: 0px !important;
    }

    #hamburgerMenuClose1 {
        display: none;
    }

}

.body__menu_button {
    width: 40px;
    height: 40px;
    background-color: $pink;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: white;
        border: 2px solid $pink;

        svg {
            stroke: $pink;
        }
    }
}

.body__menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .body__menu_logo {
        position: relative;
        right: 40px;
    }
}

.body__menu_list {
    margin-bottom: 30px;

    div {
        padding: 10px 10px 10px 20px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            border-left: 4px solid $blue;
            color: $darkgrey;
        }
    }
}

.body__menu_button_list {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 0 0 20px 20px;
}

.body__menu_contactbox {
    padding-left: 20px;

    div {
        margin: 10px 0;
    }

    .body__menu_contactbox_email {
        font-size: 1.5rem;
        cursor: pointer;

        transition: all 0.3s;

        &:hover {
            color: $pink;
        }
    }

    .body__menu_contactbox_tel {
        font-size: 1.3rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: $pink;
        }
        
        h3 {
            font-family: 'TT Lakes Bold';
            font-weight: bold;
        }
    }

    .body__menu_contactbox_lang {
        display: flex;
        width: 25%;
        justify-content: space-between;
        cursor: pointer;
        font-size: 1.2rem;
        color: $darkgrey;
        transition: all 0.3s;

        h6 {
            &:hover {
                color: $pink;
            }
        }
    }
}